
<div class="container">
    <h1 >הוספת דיווח על עמותה</h1>

<form  [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col">
    <mat-form-field  appearance="outline" class="col-4">
        <mat-label>שם היישות המדינית הזרה</mat-label>
        <input matInput  formControlName="name"  required />
        <mat-error *ngIf="submitted && f.name.errors && f.name.errors.required">שדה חובה</mat-error>
        <mat-error *ngIf="submitted && f.name.errors && f.name.errors.pattern">אותיות בעברית ובאנגלית בבד</mat-error>
    </mat-form-field>
        <mat-form-field  appearance="outline" class="col-3">
            <mat-label>סכום</mat-label>
            <input type="number" matInput  formControlName="amount"  required />
          
  <mat-error *ngIf="submitted && f.amount.errors && f.amount.errors.required">שדה חובה</mat-error>
        
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="col-4" >
            <mat-label>סוג היישות המדינית</mat-label>
       
            <mat-select required formControlName="type">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let type of countries"  [value]="type.value">
                {{type.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.type.errors && f.type.errors.required">שדה חובה</mat-error>

          </mat-form-field>
          
    </div>
    <div class="col">
        <mat-form-field  appearance="outline" class="col-12">
            <mat-label>ייעוד</mat-label>
            <input matInput  formControlName="details"  required />
          
  <mat-error *ngIf="submitted && f.details.errors && f.details.errors.required">שדה חובה</mat-error>
        <mat-error *ngIf="submitted && f.name.errors && f.name.errors.pattern">אותיות בעברית ובאנגלית בבד</mat-error>
           
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field  appearance="outline" class="col-12">
            <mat-label>תנאים</mat-label>
            <input matInput  formControlName="conditions"  />
        <mat-error *ngIf="submitted && f.name.errors && f.name.errors.pattern">אותיות בעברית ובאנגלית בבד</mat-error>
          
            </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="outline" class="col-3" >
            <mat-label>סוג מטבע</mat-label>
       
            <mat-select required formControlName="currency">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let currency of currencies"  [value]="currency.value" >
                {{currency.label}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="submitted && f.currency.errors && f.currency.errors.required">שדה חובה</mat-error>

          </mat-form-field>
          <mat-form-field  appearance="outline" class="col-4">
            <mat-label>שער ההמרה</mat-label>
            <input type="number" matInput  formControlName="rate"  required />
          
            <mat-error *ngIf="submitted && f.rate.errors && f.rate.errors.required">שדה חובה</mat-error>
        </mat-form-field>
    </div>


    
        
   
    
    <div class="toleft">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <button (click)="reset()" [disabled]="loading" class="btn btn-outline-primary">
            נקה
        </button>
    </div>
</form>

</div>
