/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.toleft{
    text-align: left;
    float: left;
left: 0px;
}
.position{
    position: absolute;
}
.bold{
    font-weight:bold
}